.flicking-pagination-scroll {
  overflow: hidden;
  white-space: nowrap;
}
.flicking-pagination {
  width: 100%;
  margin: 10px auto 0;
  z-index: 2;
}
.flicking-pagination-scroll .flicking-pagination-slider {
  transition: transform 0.2s;
}
.flicking-pagination-scroll .flicking-pagination-bullet {
  position: relative;
  transform: scale(0);
  transition: transform 0.2s, left 0.2s;
  vertical-align: middle;
}
.flicking-pagination-bullet {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 8px;
  margin: 0 4px;
  width: 8px;
}
.flicking-pagination-scroll .flicking-pagination-bullet-next,
.flicking-pagination-scroll .flicking-pagination-bullet-prev {
  transform: scale(0.66);
}
.flicking-pagination-scroll .flicking-pagination-bullet-next2,
.flicking-pagination-scroll .flicking-pagination-bullet-prev2 {
  transform: scale(0.33);
}
.flicking-pagination-scroll .flicking-pagination-bullet-active {
  background-color: #ff9030;
}
.flicking-pagination-scroll .flicking-pagination-bullet-active {
  transform: scale(1);
}

.flicking-arrow-disabled.is-circle,
.flicking-pagination-bullet,
.hero.is-black .tabs.is-boxed a:hover,
.hero.is-black .tabs.is-toggle a:hover,
.hero.is-danger .tabs.is-boxed a:hover,
.hero.is-danger .tabs.is-toggle a:hover,
.hero.is-dark .tabs.is-boxed a:hover,
.hero.is-dark .tabs.is-toggle a:hover,
.hero.is-info .tabs.is-boxed a:hover,
.hero.is-info .tabs.is-toggle a:hover,
.hero.is-light .tabs.is-boxed a:hover,
.hero.is-light .tabs.is-toggle a:hover,
.hero.is-link .tabs.is-boxed a:hover,
.hero.is-link .tabs.is-toggle a:hover,
.hero.is-primary .tabs.is-boxed a:hover,
.hero.is-primary .tabs.is-toggle a:hover,
.hero.is-success .tabs.is-boxed a:hover,
.hero.is-success .tabs.is-toggle a:hover,
.hero.is-warning .tabs.is-boxed a:hover,
.hero.is-warning .tabs.is-toggle a:hover,
.hero.is-white .tabs.is-boxed a:hover,
.hero.is-white .tabs.is-toggle a:hover {
  background-color: hsla(0, 0%, 4%, 0.1);
}
